dl {
    margin-top: 0;
    margin-bottom: 20px;
}
dt, dd {
    line-height: 1.42857143;
}
dt {
    font-weight: 700;
}
dd {
    margin-left: 0;
}
@media (min-width:768px) {
    .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 180px;
}
}abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999;
}
