---
layout: default
---

{% include home-header.html %}

<h2>{{ page.title }}</h2>

{%- if page.type == "categories" -%}
  {%- assign all_taxonomies = site.data.pubs | map: "category" | uniq | sort -%}
{%- elsif page.type == "tags" -%}
  {%- assign all_taxonomies = site.data.pubs | map: "topics" | flatten | uniq | sort -%}
{%- else -%}
  {%- assign all_taxonomies = empty -%}
{%- endif -%}

{%- assign sorted_pubs = site.data.pubs | sort: "date" | reverse -%}

<div class="btn-group" role="group" aria-label="Sort Options">
  <a href="/publications/years"><i class="fas fa-calendar-alt" aria-hidden="true"></i> Sorted by Year</a>
  <a href="/publications/tags"><i class="fas fa-tags" aria-hidden="true"></i> Sorted by Tags</a>
  <a href="/publications/confs"><i class="fas fa-graduation-cap" aria-hidden="true"></i> Sorted by Conference</a>
</div>
<div class="btn-group" role="group" aria-label="Navigation">
  <a href="/publications" class="btn btn-secondary">
    <i class="fas fa-arrow-left" aria-hidden="true"></i> Return
  </a>
</div>

<div class="taxonomies-wrapper">
  <ul class="taxonomies">
    {%- for taxonomy in all_taxonomies %}
      {%- assign taxonomy_size = 0 %}
      {%- for pub in sorted_pubs %}
        {%- assign include_pub = false %}
        {%- if page.type == "categories" and pub.category == taxonomy %}
          {%- assign include_pub = true %}
        {%- elsif page.type == "tags" and pub.topics contains taxonomy %}
          {%- assign include_pub = true %}
        {%- endif %}
        {%- if include_pub %}
          {%- assign taxonomy_size = taxonomy_size | plus: 1 %}
        {%- endif %}
      {%- endfor %}
      {%- assign taxonomy_label = taxonomy %}
      {%- if page.type == "tags" %}
        {%- assign taxonomy_label = site.data.publication_topics[taxonomy] | default: taxonomy %}
      {%- endif %}
      <li>
        {%- capture link -%}{{ page.permalink }}#{{ taxonomy }}{%- endcapture %}
        <a class="taxonomy" href="{{ link | relative_url }}">
          <span>{{ taxonomy_label | escape }}</span>
          <span class="taxonomy-count">{{ taxonomy_size }}</span>
        </a>
      </li>
    {%- endfor %}
  </ul>
</div>

{%- for taxonomy in all_taxonomies %}
  {%- assign taxonomy_label = taxonomy %}
  {%- if page.type == "tags" %}
    {%- assign taxonomy_label = site.data.publication_topics[taxonomy] | default: taxonomy %}
  {%- endif %}
  <h2 id="{{ taxonomy | escape }}">{{ taxonomy_label | escape }}</h2>
  <ul class="post-list-by-taxonomy">
    {%- for pub in sorted_pubs %}
      {%- assign include_pub = false %}
      {%- if page.type == "categories" and pub.category == taxonomy %}
        {%- assign include_pub = true %}
      {%- elsif page.type == "tags" and pub.topics contains taxonomy %}
        {%- assign include_pub = true %}
      {%- endif %}
      {%- if include_pub %}
      <li>
        <time datetime="{{ pub.date | date_to_xmlschema }}">{{ pub.date | date: "%Y-%m" }}</time> &raquo;
        <a href="{{ pub.url | relative_url }}">{{ pub.title | escape }}</a>
        {%- if pub.publication != "" %} ({{ pub.publication | escape }}){% endif %}
      </li>
      {%- endif %}
    {%- endfor %}
  </ul>
  <a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>
{%- endfor %}

<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>
